#Fichiers inutiles de windows, mac et linux
*.db
.DS_Store
*~
._*

#Fichiers Eclipse
.cache
.settings
.buildpath
.project

# fichiers pouvant contenir des configs
/.user.ini
/.htaccess
/include/config/config_server.php

# fichiers phing
/build.properties