body {
    margin-top : 80px;
    margin-bottom : 80px;
}

.table-characters > thead > tr,
.table-characters > tbody > tr {
    border-bottom:1px solid #444444;
}

.progress-roster-update {
    border-radius: 0px;
    height: 20px;
}

.progress-roster-update .progress-bar {
    line-height: 20px;
    font-size: 14px;
}

.classicon {
    background-image: url(../images/class_dark.png);
    display: inline-block;
    width: 64px;
    height: 64px;
    background-repeat: no-repeat;
    vertical-align: top;
}

.classicon-1 {
    background-position: 0px -0px;
}

.classicon-2 {
    background-position: 0px -128px;
}

.classicon-3 {
    background-position: 0px -64px;
}

.classicon-4 {
    background-position: -128px 0px;
}

.classicon-5 {
    background-position: -128px -64px;
}

.classicon-6 {
    background-position: -64px -128px;
}

.classicon-7 {
    background-position: -64px -64px;
}

.classicon-8 {
    background-position: -64px 0px;
}

.classicon-9 {
    background-position: -192px -64px;
}

.classicon-10 {
    background-position: -128px -128px;
}

.classicon-11 {
    background-position: -192px 0px;
}

.classicon-12 {
    background-position: -192px -128px;
}

.valign {
    vertical-align: middle !important;
}

.color-danger {
    color: rgb(154,0,0);
}

.color-grey {
    color : #666666;
}

.color-uncommon {
    color: rgb(30, 255, 0);
}

.color-rare {
    color: rgb(0, 112, 255);
}

.color-epic {
    color: rgb(163, 53, 238);
}

.power-health {
    background-color: #258500;
}

.power-maelstrom,
.power-focus {
    background-color: #BC5A00;
}

.power-pain {
    background-color: #C001D6;
}

.power-runic {
    background-color: #00B2D2;
}

.power-mana {
    background-color: #1281FF;
}

.power-rage {
    background-color: #B60000;
}

.character-thumbnail {
    margin-right: 20px;
}

.character-name {
    font-size: 22px;
}

.character-guild {
    font-size: 18px;
}

.character-header-row .well {
    height: 130px;
}

.character-stats-row .well {
    height: 164px;
}

.character-stats-table,
.character-ressources-table {
    margin-bottom: 0px;
}

.character-stats-table > tbody > tr > td,
.character-ressources-table > tbody > tr > td {
    vertical-align: middle;
}

.character-ressources-table {
    height : 100%;
}

.character-ressources-table .progress {
    margin: 0px;
}

.character-ilvl-progress {
    border-radius: 0px;
    height: 20px;
}

.character-ilvl-progress .progress-bar {
    line-height: 20px;
    font-size: 14px;
}

#myChart {
    width: 100% !important;
}

@import 'https://code.highcharts.com/css/highcharts.css';


.highcharts-title {
    color: white ;
    fill:white;
}